body {
    font-family: 'Source Sans Pro', sans-serif;
}

.main-page {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
}

.photo {
    object-fit: cover;
    height: 25rem;
    width: 20rem;
    border-radius: 0.2rem;
  }